<h1><Center>Fetch Tract Numbers for the Crime Dataset</Center></h1>

This Notebook is to find tract numbers for the Crime Dataset via api.census.gov/data by creating an
account, getting an API key and calling the API to get the Tract data.

Data source: Crime Data: https://data.lacity.org/A-Safe-City/Crime-Data-from-2010-to-Present/63jg-8b9z

The Crime Dataset is huge and fetching tract numbers for the complete file at once took a lot of time. So the crime dataset is divided by years forming 7 files for the year 2010-2016. 

This part of the code is for the Crime Dataset for the year 2010. The same codecan be applied to the datasets from 2011-2016 as well by simply changing the read file.

Once the tracks were fetched, all the separate year files were combined to form a complete Crime Dataset, with Tract numbers.

In [33]:
#Import all the necessary packages
import subprocess
import os
import math
import random
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json
import requests
import glob, os
from statsmodels.distributions.empirical_distribution import ECDF
from scipy.stats import mannwhitneyu

In [42]:
#Specify the Chunk Size
process_chunksize = 1000

#Read the File for the Year 2010
mainDF = pd.read_csv('/Users/aagnakatrodia/Desktop/GitAdd/Data_Mining/Files/InputYearCrime/2010.csv', chunksize=process_chunksize)
print(mainDF)

<pandas.io.parsers.TextFileReader object at 0x124da7240>

In [43]:
#Specify the api URL and Key and send a request command
census_api_url='https://api.census.gov/data/2017/acs/acs5?key=e335bd7f54d58725613d2bc9b7992f7d66313f86&get=NAME,B00001_001E,B19019_001E,B19083_001E&for=TRACT:*&in=state:06+COUNTY:037'
responseCensus = requests.get(census_api_url, headers={'Content-Type': 'application/json'})

In [44]:
#Load response content in textCensus
textCensus=json.loads(responseCensus.content)
tractDF = pd.DataFrame(textCensus)
print('Shape of census tract file: ' + str(tractDF.shape))
tractDF.head()

Shape of census tract file: (2347, 7)

,0,1,2,3,4,5,6
0,NAME,B00001_001E,B19019_001E,B19083_001E,state,county,tract
1,"Census Tract 5315.04, Los Angeles County, Cali...",226,41476,0.3636,06,037,531504
2,"Census Tract 5315.03, Los Angeles County, Cali...",266,37022,0.3241,06,037,531503
3,"Census Tract 2060.31, Los Angeles County, Cali...",272,87500,0.5100,06,037,206031
4,"Census Tract 1863.01, Los Angeles County, Cali...",347,38672,0.4834,06,037,186301

In [45]:
#Set the first row as column names
tractDF.rename(columns = tractDF.iloc[0], inplace=True)
tractDF.head()

#Remove the first row
tractDF = tractDF.iloc[1:]
tractDF.head()

,NAME,B00001_001E,B19019_001E,B19083_001E,state,county,tract
1,"Census Tract 5315.04, Los Angeles County, Cali...",226,41476,0.3636,06,037,531504
2,"Census Tract 5315.03, Los Angeles County, Cali...",266,37022,0.3241,06,037,531503
3,"Census Tract 2060.31, Los Angeles County, Cali...",272,87500,0.5100,06,037,206031
4,"Census Tract 1863.01, Los Angeles County, Cali...",347,38672,0.4834,06,037,186301
5,"Census Tract 1831.04, Los Angeles County, Cali...",290,69250,0.4169,06,037,183104

In [46]:
#Rename Columns, Remove unwanted columns, Change Column Type
tractDF.rename(index=str,columns={'B00001_001E':'Pop','B19019_001E':'Income','B19083_001E':'Gini','tract':'Tract'}, inplace=True)
tractDF.set_index('Tract', inplace=True)
tractDF.drop(['NAME', 'state', 'county'],inplace=True, axis=1)
tractDF=tractDF[['Pop','Income','Gini']].apply(pd.to_numeric, errors='coerce')
print(tractDF.info())
print(tractDF.head(8))

<class 'pandas.core.frame.DataFrame'>
Index: 2346 entries, 531504 to 602002
Data columns (total 3 columns):
Pop       2336 non-null float64
Income    2346 non-null int64
Gini      2346 non-null float64
dtypes: float64(2), int64(1)
memory usage: 73.3+ KB
None
          Pop     Income          Gini
Tract
531504  226.0      41476  3.636000e-01
531503  266.0      37022  3.241000e-01
206031  272.0      87500  5.100000e-01
186301  347.0      38672  4.834000e-01
183104  290.0      69250  4.169000e-01
311801  230.0      58199  3.949000e-01
980028    0.0 -666666666 -6.666667e+08
980026    NaN -666666666  1.688000e-01

In [47]:
#GetTract Function
def getTract(lonlat):
    tract = -999
    api_url='https://geo.fcc.gov/api/census/area?lat='+str(lonlat[0])+'&lon='+str(lonlat[1])+'&format=json'
    headers = {'Content-Type': 'application/json'}
    response = requests.get(api_url, headers=headers)
    try:
        tract=json.loads(response.content.decode('utf-8'))['results'][0]['block_fips'][5:11]
    except:
        print('No Tract found from FCC geo API')
    return tract

In [48]:
#Initialize Variables
df = pd.DataFrame()
start = 0
end = 1

In [50]:
for mainDF_chunk in mainDF:
    First = start * process_chunksize
    Last = end * process_chunksize
    print('New group from main DF, lines ' + str(First) + ' to ' + str(Last))

    ## Cleaning main-------------------------------------------------------------
    #Remove Trailing spaces
    mainDF_chunk.rename(columns=lambda x: x.replace(' ', ''), inplace=True)
    
    #Edit Location
    mainDF_chunk.dropna(subset=['Location'], inplace=True)
    mainDF_chunk['Location'] = mainDF_chunk['Location'].map(lambda x: eval(str(x)))
    
    #Change Type to DateTime
    mainDF_chunk[['DateReported', 'DateOccurred', 'TimeOccurred']].apply(pd.to_datetime, errors='coerce')
    
    #Change Type to Numeric
    mainDF_chunk[['DRNumber', 'AreaID', 'ReportingDistrict', 'CrimeCode', 'VictimAge', 'PremiseCode', 'WeaponUsedCode',
                  'CrimeCode1']].apply(pd.to_numeric)
    
    #Print Dimension
    print('Dimension of main DF group:' + str(mainDF_chunk.shape))

    # Add Tract from FCC geo AND violent bool
    mainDF_chunk['Tract'] = mainDF_chunk.Location.map(lambda x: getTract(x))

    #Merge MainDF and TractDF to get the Tracts
    df_group = pd.merge(mainDF_chunk, tractDF, how='left', on='Tract', sort=True)
    
    #Keep appending it to DF
    df = df.append(df_group, sort=True)

    start += 1
    end += 1

New group from main DF, lines 0 to 1000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 1000 to 2000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 2000 to 3000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 3000 to 4000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
No Tract found from FCC geo API
New group from main DF, lines 4000 to 5000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 5000 to 6000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 6000 to 7000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 7000 to 8000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 8000 to 9000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 9000 to 10000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 10000 to 11000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 11000 to 12000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 12000 to 13000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 13000 to 14000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 14000 to 15000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 15000 to 16000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 16000 to 17000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 17000 to 18000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 18000 to 19000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 19000 to 20000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 20000 to 21000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 21000 to 22000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 22000 to 23000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 23000 to 24000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 24000 to 25000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 25000 to 26000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 26000 to 27000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 27000 to 28000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 28000 to 29000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 29000 to 30000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 30000 to 31000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 31000 to 32000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 32000 to 33000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 33000 to 34000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 34000 to 35000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 35000 to 36000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 36000 to 37000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 37000 to 38000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 38000 to 39000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 39000 to 40000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 40000 to 41000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 41000 to 42000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 42000 to 43000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 43000 to 44000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 44000 to 45000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 45000 to 46000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 46000 to 47000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 47000 to 48000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 48000 to 49000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 49000 to 50000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 50000 to 51000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 51000 to 52000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 52000 to 53000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 53000 to 54000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 54000 to 55000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 55000 to 56000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 56000 to 57000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 57000 to 58000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 58000 to 59000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 59000 to 60000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 60000 to 61000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 61000 to 62000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 62000 to 63000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 63000 to 64000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 64000 to 65000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 65000 to 66000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 66000 to 67000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 67000 to 68000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 68000 to 69000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 69000 to 70000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 70000 to 71000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 71000 to 72000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 72000 to 73000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 73000 to 74000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 74000 to 75000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 75000 to 76000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 76000 to 77000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 77000 to 78000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 78000 to 79000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 79000 to 80000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 80000 to 81000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 81000 to 82000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 82000 to 83000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 83000 to 84000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 84000 to 85000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 85000 to 86000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 86000 to 87000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 87000 to 88000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 88000 to 89000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 89000 to 90000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 90000 to 91000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 91000 to 92000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 92000 to 93000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 93000 to 94000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 94000 to 95000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 95000 to 96000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 96000 to 97000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 97000 to 98000

Dimension of main DF group:(1000, 29)
New group from main DF, lines 98000 to 99000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 99000 to 100000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 100000 to 101000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 101000 to 102000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 102000 to 103000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 103000 to 104000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 104000 to 105000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 105000 to 106000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 106000 to 107000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 107000 to 108000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 108000 to 109000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 109000 to 110000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 110000 to 111000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 111000 to 112000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 112000 to 113000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 113000 to 114000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 114000 to 115000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 115000 to 116000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 116000 to 117000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 117000 to 118000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 118000 to 119000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 119000 to 120000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 120000 to 121000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 121000 to 122000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 122000 to 123000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 123000 to 124000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 124000 to 125000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 125000 to 126000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 126000 to 127000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 127000 to 128000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 128000 to 129000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 129000 to 130000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 130000 to 131000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 131000 to 132000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 132000 to 133000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 133000 to 134000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 134000 to 135000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 135000 to 136000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 136000 to 137000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 137000 to 138000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 138000 to 139000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 139000 to 140000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 140000 to 141000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 141000 to 142000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 142000 to 143000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 143000 to 144000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 144000 to 145000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 145000 to 146000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 146000 to 147000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 147000 to 148000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 148000 to 149000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 149000 to 150000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 150000 to 151000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 151000 to 152000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 152000 to 153000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 153000 to 154000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 154000 to 155000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 155000 to 156000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 156000 to 157000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 157000 to 158000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 158000 to 159000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 159000 to 160000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 160000 to 161000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 161000 to 162000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 162000 to 163000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 163000 to 164000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 164000 to 165000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 165000 to 166000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 166000 to 167000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 167000 to 168000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 168000 to 169000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 169000 to 170000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 170000 to 171000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 171000 to 172000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 172000 to 173000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 173000 to 174000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 174000 to 175000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 175000 to 176000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 176000 to 177000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 177000 to 178000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 178000 to 179000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 179000 to 180000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 180000 to 181000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 181000 to 182000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 182000 to 183000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 183000 to 184000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 184000 to 185000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 185000 to 186000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 186000 to 187000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 187000 to 188000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 188000 to 189000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 189000 to 190000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 190000 to 191000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 191000 to 192000
Dimension of main DF group:(1000, 29)

New group from main DF, lines 192000 to 193000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 193000 to 194000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 194000 to 195000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 195000 to 196000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 196000 to 197000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 197000 to 198000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 198000 to 199000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 199000 to 200000
Dimension of main DF group:(1000, 29)
No Tract found from FCC geo API
New group from main DF, lines 200000 to 201000
Dimension of main DF group:(1000, 29)
New group from main DF, lines 201000 to 202000
Dimension of main DF group:(1000, 29)

In [51]:
df.head()

,Address,AreaID,AreaName,CrimeCode,CrimeCode1,CrimeCodeDescription,CrossStreet,DRNumber,DateOccurred,DateReported,...,StatusDescription,TimeOccurred,Tract,Unnamed:0,VictimAge,VictimDescent,VictimSex,WeaponDescription,WeaponUsedCode,Year_Occur
0,7400 SUNNYBRAE AV,21.0,Topanga,210,210.0,ROBBERY,NaN,102113132,06/21/2010,06/21/2010,...,Invest Cont,2240,113101,0,32.0,H,M,SEMI-AUTOMATIC PISTOL,109.0,2010
1,8300 NATALIE LN,21.0,Topanga,624,624.0,BATTERY - SIMPLE ASSAULT,NaN,102114593,07/20/2010,07/20/2010,...,Invest Cont,2350,113231,1,54.0,H,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400.0,2010
2,8300 LESTER LN,21.0,Topanga,420,420.0,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,102112077,06/01/2010,06/01/2010,...,Invest Cont,1145,113231,2,28.0,W,M,NaN,NaN,2010
3,8800 HILLCROFT TL,21.0,Topanga,649,649.0,DOCUMENT FORGERY / STOLEN FELONY,NaN,102113030,06/16/2010,06/19/2010,...,Invest Cont,1410,113231,3,46.0,W,F,NaN,NaN,2010
4,8500 FAUST AV,21.0,Topanga,624,624.0,BATTERY - SIMPLE ASSAULT,NaN,102113474,06/26/2010,06/28/2010,...,Invest Cont,1000,113232,4,15.0,W,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400.0,2010

In [53]:
#Save the data frame to a CSV file
df.to_csv("/Users/aagnakatrodia/Desktop/GitAdd/Data_Mining/Files/Outputs/Tract2010.csv", sep=',', encoding='utf-8', header = True)